/*
Colors used:

Primary Colors
Dark Gray: #3a3535;
Gray: #cacacd;
Beige: #f6f7f4;

Secondary Colors
Light Blue: #d5deea;
Blue: #0077a2;
Pastel Pink: #f7eaeb;
Pink: #eba6b5;
*/

* {
	box-sizing: border-box;
}

body {
	background-color: white;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	font-weight: 300;
	line-height: 1.6;
	color: black;
}

header {
	background-color: #d5deea;
	padding: 10px 5px;
	text-align: center;
	box-shadow: 0px 0px 14px 0px rgba(50, 50, 50, 0.3);
	position: relative
}

footer {
	background-color: #d5deea;
	padding: 10px 5px;
	text-align: center;
}

h1,
h2,
h3,
h4 {
	font-family: 'PT Serif', serif;
	line-height: 1.4;
}

h1 {
	font-size: 2.25em;
	font-weight: 700;
}

h2 {
	font-size: 2em;
	font-weight: 700;
}

h3 {
	font-size: 1.75em;
	font-weight: 400;
}

h4 {
	font-size: 1.35em;
	font-weight: 400;
}

img {
	width: 100%;
}

a {
	color: #0077a2;
	text-decoration: none;
	/* No underlining */
}

a:visited {
	/* visited link */
	color: #0077a2;
}

a:hover,
a:focus {
	color: #eba6b5;
	text-decoration: underline;
	/* Underlining when hovering over a link */
}

a:active {
	/* selected link */
	color: #c2617f;
}

.button {
	display: inline-block;
	/* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
	background-color: #eba6b5;
	color: white;
	/* needed to override the default link color */
	font-weight: 400;
	padding: 10px;
	border-radius: 3px;
	border-bottom: 2px solid #c2617f;
	/* width of the border, type, color */
    transition: 0.2s opacity;
}

.button:visited {
	color: white;
}

.button:hover,
.button:focus {
	opacity: .8;
	/* Reduces the opacity of the button to 80% */
	color: white;
	text-decoration: none;
}

.button:active {
	color: #c2617f;
}

.button.contact {
	background-color: transparent;
	color: #eba6b5;
	text-transform: uppercase;
	border: 2px solid #eba6b5;
	border-bottom: 2px solid #c2617f;
}

.button.contact:hover,
.button.contact:focus {
	background-color: #eba6b5;
	color: white;
}

.button.contact:active {
	border-color: #c2617f;
	color: white;
}

/* Layout styling */

.container {
	padding: 0 15px;
}

.row {
	margin: 25px 0;
	/* 25px top and bottom, 0 left and right */
}

#work .row {
	padding-bottom: 25px;
	border-bottom: 2px solid #4a4a4a;
}

#about .skills {
	list-style-type: none;
	padding: 0;
}

.logo {
	max-width: 250px;
}

nav>ul {
	list-style-type: none;
	padding: 0;
}

nav>ul>li {
	display: inline-block;
}

nav>ul>li>a {
	padding: 0 15px;
	text-transform: uppercase;
	font-weight: 700;
}

#hero {
	background-color: #d5deea;
	padding: 20px 10px;
	display: inline-block;
	width: 100%;
}

#hero h1 {
	text-align: center;
}

footer ul {
	list-style-type: none;
	padding: 0;
}

footer ul li {
	display: inline-block;
}

footer ul li a {
	padding: 0 20px;
}

#project,
#home,
#about {
	text-align: center;
}

#about-picture {
    width: 100%;
    max-width: 100%;
    height: auto;
}

@keyframes color-change {
    from {fill: #edc655;}
    to {fill: #f76414;}
}

@keyframes cloud-move {
    from {transform: translate(0,50px);}
    to {transform: translate(200px,50px);}
}

@keyframes cloud-move-reverse {
    from {transform: translate(446px,48px);}
    to {transform: translate(100px, 48px);}
}

.sun {
    animation: 4s color-change infinite alternate linear;
}

.cloud-front {
    animation: 20s cloud-move infinite alternate linear;
}

.cloud-back {
    animation: 30s cloud-move-reverse infinite alternate linear;
}

@media only screen and (min-width: 640px) {
    header {
        text-align: unset;
        padding: 20px 0 13px;
    }
    
    nav {
        width: auto;
        float: right;
        margin-top: 4px;
    }

    main {
        padding-top: 0px;
        margin-top: 0px;
    }

    #hero span {
        display: block;
    }

    .col-md-6 {
        width: 50%;
    }

    [class*="col-"] {
        float: left;
        padding: 10px;
    }

    .row::after {
        content: "";
        clear: both;
        display: table;
    }

    #project,
    #home {
	    text-align: unset;
    }
}

@media only screen and (min-width: 1024px) {
    .container {
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }

    h2 {
        text-align: center;
    }
}

@media only screen and (min-width: 1440px) {
}